# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Ferramentas de qualidade
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.mypy_cache/
.ruff_cache/

# Ambientes virtuais
.venv/
venv/
env/

# Editores / IDEs
.vscode/
.idea/